<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250494722355-7cj4ukif89hu6nm969o4sbqr7fs466fr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250494722355-7cj4ukif89hu6nm969o4sbqr7fs466fr</string>
	<key>API_KEY</key>
	<string>AIzaSyAFzHbt4ULqdnVKV8I8UHL2Orux9CeYqUE</string>
	<key>GCM_SENDER_ID</key>
	<string>250494722355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginFirebaseapp</string>
	<key>PROJECT_ID</key>
	<string>userprofile-c3637</string>
	<key>STORAGE_BUCKET</key>
	<string>userprofile-c3637.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250494722355:ios:4bd51bc4ef2c8c0da51e46</string>
</dict>
</plist>